@import "./utils/variables";
@import "./base/normalize";

.section {
  color: $main-text-color;

  &__title {
    color: green;

    &--blue{
      color: blue;
    }
  }

  &__text {
    color: $accent-color;
  }
}

@mixin border($color) {
  border: 1px solid $color;
}

.qwe {
  @include border(green);
}

%button {
  font-size: 16px;
  padding: 10px;
}

.push-me {
  @extend %button;
  margin: 5px;
  color: gray;
}

$icons: "facebook", "github", "linkedin", "twitter";

@each $icon-name in $icons {
  .icon-#{$icon-name} {
    background-color: honeydew;
    background-image: url(../images/svg/#{$icon-name}.svg);
  }
}